---

  ###
  # Assert vars
  #

- name: Test input vars
  ansible.builtin.include_tasks: asserts.yml
  tags: assert

  ###
  # Install HA components
  #

- name: Prep Debian
  ansible.builtin.include_tasks: global/prep-debian.yml
  when: ansible_os_family == 'Debian'

- name: Prep RedHat
  ansible.builtin.include_tasks: global/prep-redhat.yml
  when: ansible_os_family == 'RedHat'

- name: Keepalived, HAProxy
  ansible.builtin.package:
    name: "{{ item }}"
    state: present
    update_cache: true
  with_items:
    - "{{ packages }}"

  ###
  # Install CRI
  #

- name: Install containerd
  ansible.builtin.include_role:
    name: geerlingguy.containerd

  ###
  # Enable HA networking on controller nodes
  #

- name: Setup HA networking
  ansible.builtin.include_tasks: ha-api-network.yml
  when: inventory_hostname in groups.controllers

  ###
  # Global configurations
  #

- name: Configure global settings
  ansible.builtin.include_tasks: global/global-config.yml

  ###
  # Set a lead controller based on the alphanumerically lowest ansible_hostname if not already defined
  # Best practice: define explicitly as a global var
  #

- name: Set lead controller if not already defined
  ansible.builtin.set_fact:
    lead_controller: "{{ groups.controllers | min }}"
  run_once: true
  when: lead_controller is not defined

  ###
  # Install kubernetes and deploy the cluster
  #

- name: Deploy cluster
  ansible.builtin.include_tasks: deploy-nodes/deploy-cluster.yml

  ###
  # Set kubeconfig on the cluster and ansible controller
  #

- name: Set kubeconfigs on controllers
  ansible.builtin.include_tasks: deploy-nodes/set-kubeconfig.yml
  when: inventory_hostname in groups.controllers

- name: Download kubeconfig to host
  ansible.builtin.fetch:
    src: /etc/kubernetes/admin.conf
    dest: "{{ host_kubeconfig_dest }}"
    flat: true
  when:
    - inventory_hostname == lead_controller
    - set_host_kubeconfig | bool
  tags: get-kubeconfig

  ###
  # Set taint on controllers
  #

- name: Set taint status on controllers
  ansible.builtin.include_tasks: taints.yml
  when: inventory_hostname in groups.controllers
